    <!--#include virtual="/header.xhtml" -->

    <!--#include virtual="/menu.xhtml" -->

    <div id="main">
      <h1>Archive</h1>
      <p>
        The archive is currently shared between GNU/Linux alpha, hppa, ia64, m68k, powerpc, ppc64, riscv64, sh4, sparc64, x32,
        GNU/Hurd and GNU/kFreeBSD kfreebsd-amd64 and kfreebsd-i386. It uses
        <a href="https://salsa.debian.org/debian-ports-team/mini-dak">mini-dak</a>, in order
        to have one pool per architecture and various suites (<i>unstable</i>, <i>experimental</i>), and most notably
        the <i>unreleased</i> suite. This suite is used to upload packages which need hacks to build until the changes
        are integrated into Debian.
      </p>
      <p>
        You can browse the archive directly via <a href="http://ftp.ports.debian.org/debian-ports">http</a>.
      </p>

      <h1>APT sources</h1>
      <p>
        The archive includes binary-all packages mirrored regularly from
        Debian. To use it, add the following lines to your <code>/etc/apt/sources.list</code>:
      </p>
      <pre>
 deb http://ftp.ports.debian.org/debian-ports unstable main
 deb http://ftp.ports.debian.org/debian-ports unreleased main
      </pre>
      <p>
        and possibly:
      </p>
      <pre>
 deb http://ftp.ports.debian.org/debian-ports experimental main
      </pre>
      <p>
      <a href="http://ftp.ports.debian.org/debian-ports">ftp.ports.debian.org</a> actually corresponds to
        two different servers, one in The Netherlands and one in USA. There are both accessible
        through both IPv4 and IPv6. In case there are slow from your country, you might want to use a
        a <a href="/mirrors">mirror</a> instead.
      </p>

      <h1>Packages authentication</h1>
      <p>
        If you want apt to verify the downloaded packages, you can either install the
        <a href="https://packages.debian.org/debian-ports-archive-keyring"><code>debian-ports-archive-keyring</code> package</a> or manually import the Debian ports archive key into apt:
      </p>
      <pre>
 gpg --keyserver hkp://subkeys.pgp.net --recv-keys 2FF7A9F4
 gpg --export 2FF7A9F4 | apt-key add -
      </pre>
      <p>
        or
      </p>
      <pre>
 wget -O - https://www.ports.debian.org/archive_2016.key | apt-key add -
      </pre>

      <h1>Upload policy</h1>
        <ul>
          <li>
            Any change to the source you need to do implies moving the suite
            from <i>unstable</i> to <i>unreleased</i>, appending a magic
            <code>+string</code> (see below) to the version to distinguish
            and/or filter it and adding a proper changelog entry.
          </li>
          <li>
            If an upload happens to <i>unreleased</i>, source must be included
            in the package <code>.changes</code> file.
          </li>
          <li>
            All Debian developers can request upload rights. Other people may
            need to seek a sponsor as is done on the Debian archive.
          </li>
          <li>
            Upload to <a href="ftp://ports-master.debian.org/incoming/">ftp://ports-master.debian.org/incoming/</a>. You will see the package appearing in less
            than 5 minutes on <a href="http://incoming.ports.debian.org/">http://incoming.ports.debian.org/</a>.
          </li>
          <li>
            If a package should be removed, please mail <a href="mailto:ftpmaster@ports-master.debian.org">ftpmaster@ports-master.debian.org</a>.
          </li>
        </ul>
      <h2>Magic <code>+string</code></h2>
      <ul>
        <li>Updating config.guess and config.sub: <code>+cfg</code></li>
        <li>Relibtoolizing: <code>+libtool</code></li>
        <li>Autotools: <code>+autotool</code></li>
        <li>Changes for any GNU system variants: <code>+gnu</code></li>
        <li>Changes for GNU/Linux alpha: <code>+alpha</code></li>
        <li>Changes for GNU/Linux hppa: <code>+hppa</code></li>
        <li>Changes for GNU/Linux ia64: <code>+ia64</code></li>
        <li>Changes for GNU/Linux m68k: <code>+m68k</code></li>
        <li>Changes for GNU/Linux powerpc: <code>+powerpc</code></li>
        <li>Changes for GNU/Linux ppc64: <code>+ppc64</code></li>
        <li>Changes for GNU/Linux riscv64: <code>+riscv64</code></li>
        <li>Changes for GNU/Linux sh4: <code>+sh4</code></li>
        <li>Changes for GNU/Linux sparc64: <code>+sparc64</code></li>
        <li>Changes for GNU/Linux x32: <code>+x32</code></li>
        <li>Changes for GNU/Hurd: <code>+hurd</code></li>
        <li>Changes for GNU/kFreeBSD: <code>+kbsd</code></li>
      </ul>
    </div>
    <!--#include virtual="/footer.xhtml" -->
