    <div id="footer">
      <hr />
      <p>
        Last modified: <!--#echo var="LAST_MODIFIED" -->
      </p>
      <p>
        <a href="https://www.debian.org">Debian</a> is a registered <a href="https://www.us.debian.org/trademark">trademark</a> of Software in the Public Interest, Inc.
      </p>
    </div>
  </body>
</html>
